build.properties
target/
.classpath
.project
.settings
*.swp
test-output
.idea
*.iml
.metadata
*.ipr
bin/
site/data/
.svn
site/solrhome
combined/data/
combined/solrhome
combined/overlays
data/
infra/.vagrant
infra/.vagrant/machines/web/virtualbox/action_set_name
infra/.vagrant/machines/db/virtualbox/action_provision
infra/.vagrant/machines/db/virtualbox/action_set_name
infra/.vagrant/machines/db/virtualbox/creator_uid
infra/.vagrant/machines/db/virtualbox/id
infra/.vagrant/machines/db/virtualbox/index_uuid
infra/.vagrant/machines/db/virtualbox/private_key
infra/.vagrant/machines/db/virtualbox/synced_folders
infra/.vagrant/machines/db/virtualbox/vagrant_cwd
infra/.vagrant/machines/web/virtualbox/action_provision
infra/.vagrant/machines/web/virtualbox/creator_uid
infra/.vagrant/machines/web/virtualbox/id
infra/.vagrant/machines/web/virtualbox/index_uuid
infra/.vagrant/machines/web/virtualbox/private_key
infra/.vagrant/machines/web/virtualbox/synced_folders
infra/manifests/devopsnapratica.war
